/* Estilos globales */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;  
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.contenedor-favoritos{
  min-height: 80vh; 
}

.App, .detalle{
  min-height: 65vh; 
}


div.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

nav {
  display: flex;
  width: 70vw;
  justify-content: flex-end; 
  padding: 1rem;  
  margin: 0 auto;
  border-bottom: 2px solid #ccc; 
  transition: border-color 0.3s ease; 
}
nav a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease; 
}

nav a[href='/'] {
  color:#51a6eb;
}

nav a[href='/favs'] {
  color: #51a6eb; 
}

nav a[href='/contact'] {
  color: #51a6eb; 
}

nav a[href="/detail/:id"] {
  color: #51a6eb; 
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #103655;
}
a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav a:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(97, 168, 255);
}

a:hover {
  color: rgb(136, 136, 136);
}

.resetButton {
  background-color: #51a6eb; 
  color: white; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 60px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  float: right; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.resetButton:hover {
  background-color: #103655; 
  transform: scale(1.05);
}


.resetButton:active {
  background-color: #51a6eb; 
  transform: scale(0.98);
}


footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

footer > img {
  width: 200px;
  margin: 0;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  padding-top:15px;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.theme-toggle-button {
  background-color: transparent;  
  border: none; 
  cursor: pointer;  
  padding: 10px; 
}

.theme-toggle-button:hover {
  transform: scale(1.1);  
}

.light-mode .theme-toggle-button {
  background-color: #f0f0f0; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Estilos para las tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;    
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table.odontologo-info {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-family: Arial, sans-serif;
}

table.odontologo-info td {
  padding: 0.8rem;
  border: 1px solid #ddd;
  text-align: left;
}

table.odontologo-info tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.odontologo-info tr:hover {
  background-color: #f1f1f1;
}

table.odontologo-info td:first-child {
  font-weight: bold;
  width: 20%;
  background-color: #f4f4f4;
}

table.odontologo-info td:last-child {
  width: 80%;
}

table.odontologo-info {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #1e1e1e;  
  color: white;  
}

.dark-mode nav {
  border-bottom: 2px solid #444; 
}

.dark-mode nav {
  background-color: #1e1e1e;  
}

.dark-mode nav a[href='/'] {
  color:#ffffff; 
}

.dark-mode nav a[href='/favs'] {
  color:#ffffff; 
}

.dark-mode nav a[href='/contact'] {
  color: #ffffff; 
}

.dark-mode nav a[href="/detail/:id"] {
  color: #ffffff;
}


.dark-mode nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #717171;
}

.dark-mode a {
  color: #ffffff; 
}

.dark-mode .card {
  background-color: #717171;  
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.dark-mode .card:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.7); 
}

.dark-mode footer {
  background-color: #1e1e1e; 
  color: white;
}

.dark-mode .favButton {
  background-color: #717171;  
}

.dark-mode .resetButton {
  background-color:#b2b2b2; 
  color: black; 
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2); 
  color: white
}

.dark-mode .resetButton:hover {
  background-color:  #1e1e1e; 
  color: white;
  transform: scale(1.05);
}


.dark-mode .resetButton:active {
  background-color:#b2b2b2;
  transform: scale(0.98);
}

/* Estilos para las tablas en modo oscuro */

.dark-mode table {
  background-color: #2a2a2a; 
  color: white; 
  border: 1px solid #444; 
}

.dark-mode th, .dark-mode td {
  border: 1px solid #444; 
  padding: 8px; 
  background-color: #333; 
}

.dark-mode tr:nth-child(odd) {
  background-color: #2a2a2a; 
}

.dark-mode tr:nth-child(even) {
  background-color: #333; 
}

.dark-mode tr:hover {
  background-color: #575757; 
}

.dark-mode table.odontologo-info td:first-child {
  background-color: #414141; 
}

.dark-mode .theme-toggle-button {
  background-color: #1e1e1e;  
}


.light-mode .theme-toggle-button:hover {
  background-color: #e0e0e0;  
}
.dark-mode .theme-toggle-button:hover {
  background-color:#1e1e1e; 
}
